avrdude
avrdude-test3
avrdude-test4
font5x7.h
lcd.hex1
lcd_stats.txt
main.cx
main_LCD.c
stats.txt
t6963.cx
test.c
test1.c
test_ports.hex1
test_ports_stats.txt
avrdude_exe
lib/USART.o
lib/t6963.o
main_LCD.cx
test.cx
test1.cx
do1.sh
pin_test.cx
temp/gdisp_str.c
temp/test_read.c
temp/test_read2.c
temp/test_spi.c
temp/test_write.c

